# Ignore build output directory
/build
/export

# Ignore object files and dependent files
.o
.d

#Ignore logs folder and log files
/logs
.log

#Ignore lock files
.lock

.bin
.pdi
.vitisWorkspace.json

_ide/

lectures/
le_net/le_net/logs
le_net/le_net/reports/
!./le_net/le_net/hls/syn/**

.cache/
.Xil/
le_net/compile_commands.json
le_net/dfx_runtime.txt
le_net/le_net/le_net.hlscompile_summary
le_net/le_net/le_net.hlsrun_cosim_summary
le_net/le_net/vitis-comp.json
le_net/le_net/hls/.autopilot/
le_net/le_net/hls/.debug/
le_net/le_net/hls/sim/
le_net/le_net/hls/syn/report
le_net/le_net/hls/impl/

training/data/
training/lenet_int8.pth
le_net/le_net/le_net.hlsrun_package_summary
le_net/le_net/hls/hls_data.json
le_net/le_net/hls/config.cmdline
le_net/le_net/hls/syn/verilog/

data/MNIST/
le_net/le_net/hls/csim/
le_net/le_net/le_net.hlsrun_csim_summary
