CompileFlags:
  Compiler: C://Xilinx//2025.1.1//Vitis//vcxx//libexec//clang++.exe
  Add:
    - -c
    - --sysroot=C:\\Xilinx\\2025.1.1\\Vitis\\tps\\mingw\\10.0.0\\win64.o\\nt
    - -IC:/Xilinx/2025.1.1/Vitis/include
  Remove:
    - -fhls
    - -hls-syn-headers-dir=C:\Xilinx\2025.1.1\Vitis\common\technology\autopilot
    - -fhlstoplevel=lenet_hls
